<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        @*include can have a list of values like Production,Staging*@
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    </environment>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/images/blank.png" width="30" height="30" asp-append-version="true" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">List</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Create">Create</a>
                    </li>
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery-3.6.1.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/datatables/datatables.bundle.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", true)
    }
</body>
</html>
