<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>
    @*<script src="~/lib/jquery/jquery-3.6.1.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>*@
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", true)
    }
</body>
</html>
